doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon' type='image/x-icon' href='turkey_flag_flags_18075.ico')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')
    style.
      *, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
      html { scroll-behavior: smooth; }
      body { font-family: 'Inter', sans-serif; }
      a { text-decoration: none; color: inherit; }
      header.hero { position: relative; display: flex; width: 100%; height: 100vh; justify-content: center; align-items: center; }
      .hero__img { position: absolute; z-index: -1; width: 100%; height: 100vh; filter: brightness(30%); }
      .hero__text-box { position: absolute; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10vh; padding: 5% }
      .hero__title { color: #eeeeee; }
      .hero__description { color: #cccccc; }
      .hero__quick-start { color: #ffffff; }
      .hero__quick-start:hover { transition: all .3s; transform: translateY(3px); }
      article.content { padding: 5%; }
      .font-primary { font-size: 32px; }
      .font-secondary { font-size: 24px; }
      .font-tertiary { font-size: 16px; }
      .padding-primary { padding: 3.5% 0; }
      .padding-secondary { padding: 2.5% 0; }
      .padding-tertiary { padding: 1% 0; }
      .flair { padding: 1px 3px; color: white; border-radius: 5px; }
      .flair--get { background-color: green; }
      .panel { padding: 8px; border-radius: 8px; }
      .panel--gray { background-color: #cccccc; border: 1px solid lightgray; }
      th { border-bottom: 2px solid lightgray; }
      th, td { padding: 5px 20px; }
      tr:nth-child(even) { background-color: #eeeeee; }
      .yellow { color: #f1c40f; }
      .green { color: #2ecc71; }
      .blue { color: #3498db; }
      .red { color: #e74c3c; }
      .breakpoint { display: inline-block; }
      @media only screen and (max-width: 580px) {
        .hero__text-box { padding: 10% }
        .hero__title { font-size: 32px; }
        .hero__description { font-size: 24px; }
        .hero__quick-start { font-size: 16px; }
        .breakpoint { display: block; }
        table { display: block; overflow-x: auto; font-size: 14px; }
        th, td { padding: 5px 10px; }
        .panel { padding: 4px; overflow-x: auto; }
      }
      .sidenav { height: 100%; width: 0; position: fixed; z-index: 2; top: 0; left: 0; background-color: #111; overflow-x: hidden; transition: 0.5s; padding-top: 60px; }
      .sidenav a { padding: 8px 8px 8px 32px; text-decoration: none; font-size: 16px; color: #818181; display: block; transition: 0.3s; }
      .sidenav a:hover { color: #f1f1f1; }
      .sidenav .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px; }
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .floating-nav-button { cursor: pointer; position: fixed; top: 20px; left: 20px; z-index: 1; background-color: white; border-radius: 6px; padding: 8px; }
    script.
      function openNav() {
        document.getElementById("sidenav").style.width = "250px";
        document.getElementById("floating-nav-button").style.display = "none";
      }
      function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        document.getElementById("floating-nav-button").style.display = "block";
      }
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/obsidian.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js')
    title Provinces of Turkey API
  body
    .sidenav#sidenav
      a(href='javascript:void(0)' class='closebtn' onclick='closeNav()') &times;
      a(href='#', onClick='closeNav()') Top of the page
      a(href='#quick-start', onClick='closeNav()') Quick Start
      a(href='#get-all-provinces', onClick='closeNav()') &#8226; Get All Provinces
      a(href='#get-exact-province', onClick='closeNav()') &#8226; Get Exact Province
      a(href='#get-all-districts', onClick='closeNav()') &#8226; Get All Districts
      a(href='#get-exact-district', onClick='closeNav()') &#8226; Get Exact District
      a(href='/playground', onClick='closeNav()') API Playground
    header.hero
      img.hero__img(src=image alt='An image from Turkey/Turkiye')
      .hero__text-box
        h1.hero__title Provinces of Turkey API
        h2.hero__description An approach that will save you from writing long
        a.hero__quick-start(href='#quick-start', style='padding: 2.5%') &darr; QUICK START
    .floating-nav-button#floating-nav-button(onclick='openNav()') &#9776;
    article.content
      h1#quick-start.font-primary.padding-primary(style='cursor: pointer', onclick='openNav()') Quick Start
      p.padding-tertiary: strong What is the purpose of this API?
      p This API allows you to get data about  
        strong provinces in Turkey. 🇹🇷
      p.padding-tertiary: a(target='_blank', href='https://documenter.getpostman.com/view/19561492/UzBguVHM') If you want to see API features as Postman documentation, you can click here.
      p: a(target='_blank', href='https://gist.github.com/ubeydeozdmr/e94ea5a1929805988b803ecb682c623a') For explanation of the API in Turkish language, you can click here.

      h2#get-all-provinces.font-secondary.padding-secondary(style='cursor: pointer', onclick='openNav()') 
        span.flair.flair--get GET
        |  Get All Provinces
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces
      p.padding-tertiary You can use this route to get data for 
        strong all 
        | countries.
      a(target='_blank', href='/api/v1/provinces') Click here to take a quick look

      table.padding-secondary
        thead
          tr
            th Query
            th Type
            th Description
        tbody
          tr
            td name
            td string
            td It shows all the provinces containing or matching your search query.
          tr
            td minPopulation
            td number
            td It shows all the provinces with a population greater than or equal to the value you entered.
          tr
            td maxPopulation
            td number
            td It shows all the provinces with a population less than or equal to the value you entered.
          tr
            td isMetropolitan
            td boolean
            td It shows all the provinces that are metropolitan or not.
          tr
            td offset
            td number
            td Used for pagination. Use this to set a starting point in search results.
          tr
            td limit
            td number
            td Used for pagination. Use this to set the maximum number of results to show you.
          tr
            td fields
            td string
            td It shows the fields you want to see in the response.
          tr
            td sort
            td string
            td It sorts the results in ascending or descending order.

      p.padding-tertiary Example usage 1:
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces?name=ankara
      p.padding-tertiary It will show all the provinces 
        strong containing 
        | or 
        strong matching 
        | "ankara" in their name.
      a(target='_blank', href='/api/v1/provinces?name=ankara') Click here to try it
      p.padding-tertiary Example usage 2:
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces?offset=10&limit=20
      p.padding-tertiary It will show 20 provinces starting from the 11th province.
      a(target='_blank', href='/api/v1/provinces?offset=10&limit=20') Click here to try it
      p.padding-tertiary Example usage 3:
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces?fields=name,areaCode
      p.padding-tertiary It will show only the name and areaCode fields of the provinces.
      a(target='_blank', href='/api/v1/provinces?fields=name,areaCode') Click here to try it

      h2#get-exact-province.font-secondary.padding-secondary(style='cursor: pointer', onclick='openNav()') 
        span.flair.flair--get GET
        |  Get Exact Province
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces/:id
      p.padding-tertiary You can use this route to obtain the data of the province whose 
        strong ID you entered.
      p.padding-tertiary City IDs were created based on license plate numbers. Each license plate number is unique so I thought it appropriate to set this route as a parameter instead of a query.
      a(href='#get-all-provinces')
        p.padding-tertiary NOTE: The ability to search by province name has been removed for this route. Try using 
          code /api/v1/provinces?name={your search query} 
          | instead. Click here to learn more

      table.padding-secondary
        thead
          tr
            th Query
            th Type
            th Description
        tbody
          tr
            td fields
            td string
            td It shows the fields you want to see in the response.

      p.padding-tertiary Example usage 1:
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces/6 
      p.padding-tertiary: a(target='_blank', href='/api/v1/provinces/6') Click here to try it
      p.padding-tertiary Example usage 2:
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces/6?fields=name,areaCode
      p.padding-tertiary It will show only the name and areaCode fields of the province.
      a(target='_blank', href='/api/v1/provinces/6?fields=name,areaCode') Click here to try it
      p.padding-tertiary Example Response:
      pre.panel
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 6,
          |       "name": "Ankara",
          |       "area": 25632,
          |       "population": 5747325,
          |       "areaCode": [
          |         312
          |       ],
          |       "isMetropolitan": true,
          |       "maps": {
          |         "googleMaps": "https://goo.gl/maps/Ri3Zh3yBka5RhXdG8",
          |         "openStreetMaps": "https://www.openstreetmap.org/relation/223422"
          |       },
          |       "region": {
          |         "en": "Central Anatolia",
          |         "tr": "Orta Anadolu"
          |       },
          |       "districts": [
          |         // Districts of Ankara
          |       ]
          |     }
          |   ]
          | }

      h2#get-all-districts.font-secondary.padding-secondary(style='cursor: pointer', onclick='openNav()') 
        span.flair.flair--get GET
        |  Get All Districts
      .panel.panel--gray #{protocol}#{host}/api/v1/districts
      p.padding-tertiary You can use this route to get data for 
        strong all 
        | districts.
      a(target='_blank', href='/api/v1/districts') Click here to take a quick look

      table.padding-secondary
        thead
          tr
            th Query
            th Type
            th Description
        tbody
          tr
            td name
            td string
            td It shows all the districts containing or matching your search query.
          tr
            td minPopulation
            td number
            td It shows all the districts with a population greater than or equal to the value you entered.
          tr
            td maxPopulation
            td number
            td It shows all the districts with a population less than or equal to the value you entered.
          tr
            td offset
            td number
            td Used for pagination. Use this to set a starting point in search results.
          tr
            td limit
            td number
            td Used for pagination. Use this to set the maximum number of results to show you.
          tr
            td fields
            td string
            td It shows the fields you want to see in the response.
          tr
            td sort
            td string
            td It sorts the results in ascending or descending order.

      p.padding-tertiary Example usage 1:
      .panel.panel--gray #{protocol}#{host}/api/v1/districts?name=dağ
      p.padding-tertiary It will show all the districts 
        strong containing 
        | or 
        strong matching 
        | "dağ" in their name.
      a(target='_blank', href='/api/v1/districts?name=dağ') Click here to try it
      p.padding-tertiary Example usage 2:
      .panel.panel--gray #{protocol}#{host}/api/v1/districts?minPopulation=100000&maxPopulation=300000
      p.padding-tertiary It will show all the districts with a population between 100,000 and 300,000.
      a(target='_blank', href='/api/v1/districts?minPopulation=100000&maxPopulation=300000') Click here to try it
      p.padding-tertiary Example usage 3:
      .panel.panel--gray #{protocol}#{host}/api/v1/districts?offset=10&limit=20
      p.padding-tertiary It will show 20 districts starting from the 11th district.
      a(target='_blank', href='/api/v1/districts?offset=10&limit=20') Click here to try it
      p.padding-tertiary Example usage 4:
      .panel.panel--gray #{protocol}#{host}/api/v1/districts?fields=name,population
      p.padding-tertiary It will show only the name and population fields of the districts.
      a(target='_blank', href='/api/v1/districts?fields=name,population') Click here to try it
      p.padding-tertiary Example Response:
      pre.panel
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 1757,
          |       "name": "Aladağ",
          |       "area": 1340,
          |       "population": 15855,
          |       "province": "Adana"
          |     },
          |     {
          |       "id": 1219,
          |       "name": "Ceyhan",
          |       "area": 1426,
          |       "population": 159955,
          |       "province": "Adana"
          |     },
          |     // ... and so on
          |   ]
          | }

      h2#get-exact-district.font-secondary.padding-secondary(style='cursor: pointer', onclick='openNav()') 
        span.flair.flair--get GET
        |  Get Exact District
      .panel.panel--gray #{protocol}#{host}/api/v1/districts/:id
      p.padding-tertiary You can use this route to obtain the data of the district whose 
        strong ID you entered.

      table.padding-secondary
        thead
          tr
            th Query
            th Type
            th Description
        tbody
          tr
            td fields
            td string
            td It shows the fields you want to see in the response.

      p.padding-tertiary Example usage 1:
      .panel.panel--gray #{protocol}#{host}/api/v1/districts/1832 
      p.padding-tertiary: a(target='_blank', href='/api/v1/districts/1832') Click here to try it
      p.padding-tertiary Example usage 2:
      .panel.panel--gray #{protocol}#{host}/api/v1/districts/1832?fields=id,name
      p.padding-tertiary It will show only the id and name fields of the district.
      a(target='_blank', href='/api/v1/districts/1832?fields=id,name') Click here to try it

      a(target='_blank', href='https://github.com/ubeydeozdmr/provinces-of-turkey-api'): h2.font-tertiary.padding-secondary Provinces of Turkey API is an open-source project. Click here for GitHub link! 😻
    script.
      hljs.highlightAll();