doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon' type='image/x-icon' href='turkey_flag_flags_18075.ico')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')
    style.
      *, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
      html { scroll-behavior: smooth; }
      body { font-family: 'Inter', sans-serif; }
      a { text-decoration: none; color: inherit; }
      header.hero { position: relative; display: flex; width: 100%; height: 100vh; justify-content: center; align-items: center; }
      .hero__img { position: absolute; z-index: -1; width: 100%; height: 100vh; filter: brightness(30%); }
      .hero__text-box { position: absolute; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10vh; padding: 5% }
      .hero__title { color: #eeeeee; }
      .hero__description { color: #cccccc; }
      .hero__quick-start { color: #ffffff; }
      .hero__quick-start:hover { transition: all .3s; transform: translateY(3px); }
      article.content { padding: 5%; }
      .font-primary { font-size: 32px; }
      .font-secondary { font-size: 24px; }
      .font-tertiary { font-size: 16px; }
      .padding-primary { padding: 3.5% 0; }
      .padding-secondary { padding: 2.5% 0; }
      .padding-tertiary { padding: 1% 0; }
      .flair { padding: 1px 3px; color: white; border-radius: 5px; }
      .flair--get { background-color: green; }
      .panel { border-radius: 8px; }
      .panel--bar { background-color: #ffffff; border: 1px solid lightgray; display: flex; flex-direction: column; overflow: hidden; }
      .panel--bar_url { width: 100%; padding: 12px 8px; }
      .panel--bar_action { display: flex; flex-direction: row; justify-content: flex-start; background-color: #eeeeee; }
      .panel--bar_run { background-color: green; color: white; padding: 5px 10px; cursor: pointer; }
      .panel--bar_view { background-color: /*#aaaaaa*/ turquoise; color: white; padding: 5px 10px; }
      .panel--bar_text { color: #333333; padding: 5px 10px; }
      th { border-bottom: 2px solid lightgray; }
      th, td { padding: 5px 20px; }
      tr:nth-child(even) { background-color: #eeeeee; }
      .yellow { color: #f1c40f; }
      .green { color: #2ecc71; }
      .blue { color: #3498db; }
      .red { color: #e74c3c; }
      .breakpoint { display: inline-block; }
      @media only screen and (max-width: 580px) {
        .hero__text-box { padding: 10% }
        .hero__title { font-size: 32px; }
        .hero__description { font-size: 24px; }
        .hero__quick-start { font-size: 16px; }
        .breakpoint { display: block; }
        table { display: block; overflow-x: auto; font-size: 14px; }
        th, td { padding: 5px 10px; }
        .panel { padding: 4px; overflow-x: auto; }
      }
      .sidenav { height: 100%; width: 0; position: fixed; z-index: 2; top: 0; left: 0; background-color: #111; overflow-x: hidden; transition: 0.5s; padding-top: 60px; }
      .sidenav a { padding: 8px 8px 8px 32px; text-decoration: none; font-size: 16px; color: #818181; display: block; transition: 0.3s; }
      .sidenav a:hover { color: #f1f1f1; }
      .sidenav .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px; }
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .floating-nav-button { cursor: pointer; position: fixed; top: 20px; left: 20px; z-index: 1; background-color: white; border-radius: 6px; padding: 8px; }
      #get-all-provinces-example { display: none; margin-top: 10px; }
      #get-all-provinces-example-1 { display: none; margin-top: 10px; }
      #get-all-provinces-example-2 { display: none; margin-top: 10px; }
      #get-all-provinces-example-3 { display: none; margin-top: 10px; }
      #get-exact-province-example-1 { display: none; margin-top: 10px; }
      #get-exact-province-example-2 { display: none; margin-top: 10px; }
      #get-all-districts-example { display: none; margin-top: 10px; }
      #get-all-districts-example-1 { display: none; margin-top: 10px; }
      #get-all-districts-example-2 { display: none; margin-top: 10px; }
      #get-all-districts-example-3 { display: none; margin-top: 10px; }
      #get-all-districts-example-4 { display: none; margin-top: 10px; }
      #get-exact-district-example-1 { display: none; margin-top: 10px; }
      #get-exact-district-example-2 { display: none; margin-top: 10px; }
    script.
      function openNav() {
        document.getElementById("sidenav").style.width = "250px";
        document.getElementById("floating-nav-button").style.display = "none";
      }

      function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        document.getElementById("floating-nav-button").style.display = "block";
      }

      function getAllProvincesExample() {
        document.getElementById("get-all-provinces-example").style.display = "block";
      }
      
      function getAllProvincesExample1() {
        document.getElementById("get-all-provinces-example-1").style.display = "block";
      }

      function getAllProvincesExample2() {
        document.getElementById("get-all-provinces-example-2").style.display = "block";
      }

      function getAllProvincesExample3() {
        document.getElementById("get-all-provinces-example-3").style.display = "block";
      }
      
      function getExactProvinceExample1() {
        document.getElementById("get-exact-province-example-1").style.display = "block";
      }
      
      function getExactProvinceExample2() {
        document.getElementById("get-exact-province-example-2").style.display = "block";
      }

      function getAllDistrictsExample() {
        document.getElementById("get-all-districts-example").style.display = "block";
      }
      
      function getAllDistrictsExample1() {
        document.getElementById("get-all-districts-example-1").style.display = "block";
      }

      function getAllDistrictsExample2() {
        document.getElementById("get-all-districts-example-2").style.display = "block";
      }

      function getAllDistrictsExample3() {
        document.getElementById("get-all-districts-example-3").style.display = "block";
      }

      function getAllDistrictsExample4() {
        document.getElementById("get-all-districts-example-4").style.display = "block";
      }

      function getExactDistrictExample1() {
        document.getElementById("get-exact-district-example-1").style.display = "block";
      }

      function getExactDistrictExample2() {
        document.getElementById("get-exact-district-example-2").style.display = "block";
      }

    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/obsidian.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js')
    title Provinces of Turkey API
  body
    .sidenav#sidenav
      a(tabindex='0', href='javascript:void(0)' class='closebtn' onclick='closeNav()') &times;
      a(tabindex='0', href='#', onClick='closeNav()') Top of the page
      a(tabindex='0', href='#quick-start', onClick='closeNav()') Quick Start
      a(tabindex='0', href='#get-all-provinces', onClick='closeNav()') &#8226; Get All Provinces
      a(tabindex='0', href='#get-exact-province', onClick='closeNav()') &#8226; Get Exact Province
      a(tabindex='0', href='#get-all-districts', onClick='closeNav()') &#8226; Get All Districts
      a(tabindex='0', href='#get-exact-district', onClick='closeNav()') &#8226; Get Exact District
      a(tabindex='0', href='/playground', onClick='closeNav()') API Playground
    header.hero
      img.hero__img(src=image alt='An image from Turkey/Turkiye')
      .hero__text-box
        h1.hero__title Provinces of Turkey API
        h2.hero__description An approach that will save you from writing long
        a.hero__quick-start(href='#quick-start', style='padding: 2.5%') &darr; QUICK START
    a.floating-nav-button#floating-nav-button(href='#menu', onclick='openNav()') &#9776;
    article.content
      h1#quick-start.font-primary.padding-primary(style='cursor: pointer', onclick='openNav()') Quick Start
      p.padding-tertiary: strong What is the purpose of this API?
      p This API allows you to get data about  
        strong provinces in Turkey. 🇹🇷
      p.padding-tertiary: a(target='_blank', href='https://documenter.getpostman.com/view/19561492/UzBguVHM') If you want to see API features as Postman documentation, you can click here.
      p: a(target='_blank', href='https://gist.github.com/ubeydeozdmr/e94ea5a1929805988b803ecb682c623a') For explanation of the API in Turkish language, you can click here.

      h2#get-all-provinces.font-secondary.padding-secondary(style='cursor: pointer', onclick='openNav()') 
        span.flair.flair--get GET
        |  Get All Provinces
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/provinces
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getAllProvincesExample()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/provinces') &#128065; View
          p.panel--bar_text You can use this route to get data for 
            strong all 
            | countries.

      pre.panel#get-all-provinces-example
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 1,
          |       "name": "Adana",
          |       "area": 13844,
          |       "population": 2263373,
          |       "areaCode": [
          |         322
          |       ],
          |       "isMetropolitan": true,
          |       "maps": {
          |         "googleMaps": "https://goo.gl/maps/4yHUNdZuhcBn7rqX8",
          |         "openStreetMaps": "https://www.openstreetmap.org/relation/167216"
          |       },
          |       "region": {
          |         "en": "Mediterranean",
          |         "tr": "Akdeniz"
          |       },
          |       "districts": [
          |         // Districts of Adana
          |       ]
          |     },
          |     {
          |       "id": 2,
          |       "name": "Adıyaman",
          |       "area": 7337,
          |       "population": 632148,
          |       "areaCode": [
          |         416
          |       ],
          |       "isMetropolitan": false,
          |       "maps": {
          |         "googleMaps": "https://goo.gl/maps/UqRzeK1ApyPjbhpp6",
          |         "openStreetMaps": "https://www.openstreetmap.org/relation/223141"
          |       },
          |       "region": {
          |         "en": "Southeastern Anatolia",
          |         "tr": "Güneydoğu Anadolu"
          |       },
          |       "districts": [
          |         // Districts of Adıyaman
          |       ]
          |     },
          |     // Other 79 provinces
          |   ]
          | }

      table.padding-secondary
        thead
          tr
            th Query
            th Type
            th Description
        tbody
          tr
            td name
            td string
            td It shows all the provinces containing or matching your search query.
          tr
            td minPopulation
            td number
            td It shows all the provinces with a population greater than or equal to the value you entered.
          tr
            td maxPopulation
            td number
            td It shows all the provinces with a population less than or equal to the value you entered.
          tr
            td isMetropolitan
            td boolean
            td It shows all the provinces that are metropolitan or not.
          tr
            td offset
            td number
            td Used for pagination. Use this to set a starting point in search results.
          tr
            td limit
            td number
            td Used for pagination. Use this to set the maximum number of results to show you.
          tr
            td fields
            td string
            td It shows the fields you want to see in the response.
          tr
            td sort
            td string
            td It sorts the results in ascending or descending order.

      p.padding-tertiary Example usage 1:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/provinces?name=ankara
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getAllProvincesExample1()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/provinces?name=ankara') &#128065; View
          p.panel--bar_text It will show all the provinces 
            strong containing 
            | or 
            strong matching 
            | "ankara" in their name.

      pre.panel#get-all-provinces-example-1
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 6,
          |       "name": "Ankara",
          |       "area": 25632,
          |       "population": 5747325,
          |       "areaCode": [
          |         312
          |       ],
          |       "isMetropolitan": true,
          |       "maps": {
          |         "googleMaps": "https://goo.gl/maps/Ri3Zh3yBka5RhXdG8",
          |         "openStreetMaps": "https://www.openstreetmap.org/relation/223422"
          |       },
          |       "region": {
          |         "en": "Central Anatolia",
          |         "tr": "Orta Anadolu"
          |       },
          |       "districts": [
          |         // Districts of Ankara
          |       ]
          |     }
          |   ]
          | }

      p.padding-tertiary Example usage 2:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/provinces?offset=10&limit=20
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getAllProvincesExample2()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/provinces?offset=10&limit=20') &#128065; View
          p.panel--bar_text It will show all the provinces 
            strong starting from 11th 
            | and 
            strong showing 20 results.

      pre.panel#get-all-provinces-example-2
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 11,
          |       "name": "Bilecik",
          |       "area": 4179,
          |       "population": 228334,
          |       "areaCode": [
          |         228
          |       ],
          |       "isMetropolitan": false,
          |       "maps": {
          |         "googleMaps": "https://goo.gl/maps/LJDq5jVJdrcLhCHu5",
          |         "openStreetMaps": "https://www.openstreetmap.org/relation/223420"
          |       },
          |       "region": {
          |         "en": "Marmara",
          |         "tr": "Marmara"
          |       },
          |       "districts": [
          |         // Districts of Bilecik
          |       ]
          |     },
          |     {
          |       "id": 12,
          |       "name": "Bingöl",
          |       "area": 8004,
          |       "population": 283112,
          |       "areaCode": [
          |         426
          |       ],
          |       "isMetropolitan": false,
          |       "maps": {
          |         "googleMaps": "https://goo.gl/maps/4YXDvYHT4iHFCMDb7",
          |         "openStreetMaps": "https://www.openstreetmap.org/relation/223444"
          |       },
          |       "region": {
          |         "en": "Eastern Anatolia",
          |         "tr": "Doğu Anadolu"
          |       },
          |       "districts": [
          |         // Districts of Bingöl
          |       ]
          |     },
          |     // Other 18 provinces
          |   ]
          | }

      p.padding-tertiary Example usage 3:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/provinces?fields=name,areaCode
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getAllProvincesExample3()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/provinces?fields=name,areaCode') &#128065; View
          p.panel--bar_text It will show all the provinces 
            strong showing only name and areaCode fields.

      pre.panel#get-all-provinces-example-3
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "name": "Adana",
          |       "areaCode": [
          |         322
          |       ]
          |     },
          |     {
          |       "name": "Adıyaman",
          |       "areaCode": [
          |         416
          |       ]
          |     },
          |     {
          |       "name": "Afyonkarahisar",
          |       "areaCode": [
          |         272
          |       ]
          |     },
          |     {
          |       "name": "Ağrı",
          |       "areaCode": [
          |         472
          |       ]
          |     },
          |     {
          |       "name": "Amasya",
          |       "areaCode": [
          |         358
          |       ]
          |     },
          |     {
          |       "name": "Ankara",
          |       "areaCode": [
          |         312
          |       ]
          |     }
          |     // Other 75 provinces
          |   ]
          | }

      h2#get-exact-province.font-secondary.padding-secondary(style='cursor: pointer', onclick='openNav()') 
        span.flair.flair--get GET
        |  Get Exact Province
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/provinces/:id
        .panel--bar_action
          p.panel--bar_text You can use this route to get data for 
            strong exact 
            | province.

      p.padding-tertiary City IDs were created based on license plate numbers. Each license plate number is unique so I thought it appropriate to set this route as a parameter instead of a query.
      a(href='#get-all-provinces')
        p.padding-tertiary NOTE: The ability to search by province name has been removed for this route. Try using 
          code /api/v1/provinces?name={your search query} 
          | instead. Click here to learn more

      table.padding-secondary
        thead
          tr
            th Query
            th Type
            th Description
        tbody
          tr
            td fields
            td string
            td It shows the fields you want to see in the response.

      p.padding-tertiary Example usage 1:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/provinces/6 
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getExactProvinceExample1()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/provinces/6') &#128065; View
          p.panel--bar_text It will show the province 
            strong whose ID is 6.

      pre.panel#get-exact-province-example-1
        code.language-json
          | {
          |   "status": "OK",
          |   "data": {
          |     "id": 6,
          |     "name": "Ankara",
          |     "area": 25632,
          |     "population": 5747325,
          |     "areaCode": [
          |       312
          |     ],
          |     "isMetropolitan": true,
          |     "maps": {
          |       "googleMaps": "https://goo.gl/maps/Ri3Zh3yBka5RhXdG8",
          |       "openStreetMaps": "https://www.openstreetmap.org/relation/223422"
          |     },
          |     "region": {
          |       "en": "Central Anatolia",
          |       "tr": "Orta Anadolu"
          |     },
          |     "districts": [
          |       // Districts of Ankara
          |     ]
          |   }
          | }
          |
          | // Did you notice? This time data returned object instead of array.

      p.padding-tertiary Example usage 2:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/provinces/6?fields=name,areaCode
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getExactProvinceExample2()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/provinces/6?fields=name,areaCode') &#128065; View
          p.panel--bar_text It will show the province 
            strong whose ID is 6 
            | and 
            strong showing only name and areaCode fields.

      pre.panel#get-exact-province-example-2
        code.language-json
          | {
          |   "status": "OK",
          |   "data": {
          |     "name": "Ankara",
          |     "areaCode": [
          |       312
          |     ]
          |   }
          | }

      h2#get-all-districts.font-secondary.padding-secondary(style='cursor: pointer', onclick='openNav()') 
        span.flair.flair--get GET
        |  Get All Districts
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/districts
        .panel--bar_action 
          a.panel--bar_run(tabindex='0', onclick='getAllDistrictsExample()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/districts') &#128065; View
          p.panel--bar_text It will show all the districts.

      pre.panel#get-all-districts-example
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 1757,
          |       "name": "Aladağ",
          |       "area": 1340,
          |       "population": 15855,
          |       "province": "Adana"
          |     },
          |     {
          |       "id": 1219,
          |       "name": "Ceyhan",
          |       "area": 1426,
          |       "population": 159955,
          |       "province": "Adana"
          |     },
          |     // Other 970 districts
          |   ]
          | }

      table.padding-secondary
        thead
          tr
            th Query
            th Type
            th Description
        tbody
          tr
            td name
            td string
            td It shows all the districts containing or matching your search query.
          tr
            td minPopulation
            td number
            td It shows all the districts with a population greater than or equal to the value you entered.
          tr
            td maxPopulation
            td number
            td It shows all the districts with a population less than or equal to the value you entered.
          tr
            td offset
            td number
            td Used for pagination. Use this to set a starting point in search results.
          tr
            td limit
            td number
            td Used for pagination. Use this to set the maximum number of results to show you.
          tr
            td fields
            td string
            td It shows the fields you want to see in the response.
          tr
            td sort
            td string
            td It sorts the results in ascending or descending order.

      p.padding-tertiary Example usage 1:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/districts?name=dağ
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getAllDistrictsExample1()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/districts?name=dağ') &#128065; View
          p.panel--bar_text It will show all the districts 
            strong containing or matching 
            | the word 
            strong dağ.

      pre.panel#get-all-districts-example-1
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 1757,
          |       "name": "Aladağ",
          |       "area": 1340,
          |       "population": 15855,
          |       "province": "Adana"
          |     },
          |     {
          |       "id": 1306,
          |       "name": "Emirdağ",
          |       "area": 2103,
          |       "population": 42327,
          |       "province": "Afyonkarahisar"
          |     },
          |     {
          |       "id": 1639,
          |       "name": "Sultandağı",
          |       "area": 928,
          |       "population": 14279,
          |       "province": "Afyonkarahisar"
          |     },
          |     // Other 12 districts
          |   ]
          | }

      p.padding-tertiary Example usage 2:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/districts?minPopulation=100000&maxPopulation=300000
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getAllDistrictsExample2()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/districts?minPopulation=100000&maxPopulation=300000') &#128065; View
          p.panel--bar_text It will show all the districts 
            strong with a population greater than or equal to 100000 
            | and 
            strong with a population less than or equal to 300000.

      pre.panel#get-all-districts-example-2
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 1219,
          |       "name": "Ceyhan",
          |       "area": 1426,
          |       "population": 159955,
          |       "province": "Adana"
          |     },
          |     {
          |       "id": 1486,
          |       "name": "Kozan",
          |       "area": 1903,
          |       "population": 132320,
          |       "province": "Adana"
          |     },
          |     {
          |       "id": 2032,
          |       "name": "Sarıçam",
          |       "area": 770,
          |       "population": 208227,
          |       "province": "Adana"
          |     },
          |     // Other 150 districts
          |   ]
          | }

      p.padding-tertiary Example usage 3:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/districts?offset=10&limit=20
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getAllDistrictsExample3()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/districts?offset=10&limit=20') &#128065; View
          p.panel--bar_text It will show all the districts 
            strong starting from 11th result 
            | and 
            strong showing only 20 results.

      pre.panel#get-all-districts-example-3
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "id": 2032,
          |       "name": "Sarıçam",
          |       "area": 770,
          |       "population": 208227,
          |       "province": "Adana"
          |     },
          |     {
          |       "id": 1104,
          |       "name": "Seyhan",
          |       "area": 444,
          |       "population": 792536,
          |       "province": "Adana"
          |     },
          |     // Other 18 districts
          |   ]
          | }

      p.padding-tertiary Example usage 4:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/districts?fields=name,population
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getAllDistrictsExample4()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/districts?fields=name,population') &#128065; View
          p.panel--bar_text It will show all the districts 
            strong showing only name and population fields.

      pre.panel#get-all-districts-example-4
        code.language-json
          | {
          |   "status": "OK",
          |   "data": [
          |     {
          |       "name": "Aladağ",
          |       "population": 15855
          |     },
          |     {
          |       "name": "Ceyhan",
          |       "population": 159955
          |     },
          |     {
          |       "name": "Çukurova",
          |       "population": 389319
          |     },
          |     {
          |       "name": "Feke",
          |       "population": 16072
          |     },
          |     {
          |       "name": "İmamoğlu",
          |       "population": 27399
          |     },
          |     // Other 967 districts
          |   ]
          | }

      h2#get-exact-district.font-secondary.padding-secondary(style='cursor: pointer', onclick='openNav()') 
        span.flair.flair--get GET
        |  Get Exact District
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/districts/:id
        .panel--bar_action
          p.panel--bar_text It will show the district with the id you entered.

      table.padding-secondary
        thead
          tr
            th Query
            th Type
            th Description
        tbody
          tr
            td fields
            td string
            td It shows the fields you want to see in the response.

      p.padding-tertiary Example usage 1:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/districts/1832 
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getExactDistrictExample1()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/districts/1832') &#128065; View
          p.panel--bar_text It will show the district with the id 1832.

      pre.panel#get-exact-district-example-1
        code.language-json
          | {
          |   "status": "OK",
          |   "data": {
          |     "id": 1832,
          |     "name": "Osmangazi",
          |     "area": 621,
          |     "population": 884451,
          |     "province": "Bursa"
          |   }
          | }
          |
          | // If there is no district with the id you entered, it will return an error.

      p.padding-tertiary Example usage 2:
      .panel.panel--bar
        p.panel--bar_url #{protocol}#{host}/api/v1/districts/1832?fields=id,name
        .panel--bar_action
          a.panel--bar_run(tabindex='0', onclick='getExactDistrictExample2()') &#9205; Run
          a.panel--bar_view(target='_blank', href='/api/v1/districts/1832?fields=id,name') &#128065; View
          p.panel--bar_text It will show the district with the id 1832 
            strong showing only id and name fields.

      pre.panel#get-exact-district-example-2
        code.language-json
          | {
          |   "status": "OK",
          |   "data": {
          |     "id": 1832,
          |     "name": "Osmangazi"
          |   }
          | }

      a(target='_blank', href='https://github.com/ubeydeozdmr/provinces-of-turkey-api'): h2.font-tertiary.padding-secondary Provinces of Turkey API is an open-source project. Click here for GitHub link! 😻
    script.
      hljs.highlightAll();