doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon' type='image/x-icon' href='turkey_flag_flags_18075.ico')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')
    style.
      *, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
      html { scroll-behavior: smooth; }
      body { font-family: 'Inter', sans-serif; }
      a { text-decoration: none; color: inherit; }
      header.hero { position: relative; display: flex; width: 100%; height: 100vh; justify-content: center; align-items: center; }
      .hero__img { position: absolute; z-index: -1; width: 100%; height: 100vh; filter: brightness(30%); }
      .hero__text-box { position: absolute; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10vh; padding: 5% }
      .hero__title { color: #eeeeee; }
      .hero__description { color: #cccccc; }
      .hero__quick-start { color: #ffffff; }
      .hero__quick-start:hover { transition: all .3s; transform: translateY(3px); }
      article.content { padding: 5%; }
      .font-primary { font-size: 32px; }
      .font-secondary { font-size: 24px; }
      .font-tertiary { font-size: 16px; }
      .padding-primary { padding: 3.5% 0; }
      .padding-secondary { padding: 2.5% 0; }
      .padding-tertiary { padding: 1% 0; }
      .flair { padding: 1px 3px; color: white; border-radius: 5px; }
      .flair--get { background-color: green; }
      .panel { padding: 8px; border-radius: 8px; }
      .panel--gray { background-color: #cccccc; border: 1px solid lightgray; }
    title Provinces of Turkey API
  body
    header.hero
      img.hero__img(src=image alt='An image from Turkey/Turkiye')
      .hero__text-box
        h1.hero__title Provinces of Turkey API
        h2.hero__description An approach that will save you from writing long
        a.hero__quick-start(href='#quick-start') &darr; QUICK START
    article.content
      h1#quick-start.font-primary.padding-primary Quick Start
      p.padding-tertiary: strong What is the purpose of this API?
      p This API allows you to get data about  
        strong provinces in Turkey. 🇹🇷
      p.padding-tertiary: a(target='_blank', href='https://documenter.getpostman.com/view/19561492/UzBguVHM') If you want to see API features as Postman documentation, you can click here.

      h2#get-all-provinces.font-secondary.padding-secondary 
        span.flair.flair--get GET
        |  Get All Provinces
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces
      p.padding-tertiary You can use this route to get data for 
        strong all 
        | countries.
      a(target='_blank', href='/api/v1/provinces') Click here to take a quick look

      h2#get-exact-province.font-secondary.padding-secondary
        span.flair.flair--get GET
        |  Get Exact Province
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces/:id or :name
      p.padding-tertiary You can use this route to obtain the data of the province whose 
        strong ID or Name you entered.
      p Example URL 1: 
        a(target='_blank', href='/api/v1/provinces/6') #{protocol}#{host}/api/v1/provinces/6
      p Example URL 2: 
        a(target='_blank', href='/api/v1/provinces/ankara') #{protocol}#{host}/api/v1/provinces/ankara

      h2#get-all-districts.font-secondary.padding-secondary
        span.flair.flair--get GET
        |  Get All Districts of any Province
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces/:id or :name/districts
      p.padding-tertiary You can use this route to obtain the data of the districts of the province.
      p Example URL 1: 
        a(target='_blank', href='/api/v1/provinces/34/districts') #{protocol}#{host}/api/v1/provinces/34/districts
      p Example URL 2: 
        a(target='_blank', href='/api/v1/provinces/istanbul/districts') #{protocol}#{host}/api/v1/provinces/istanbul/districts

      h2#get-exact-district.font-secondary.padding-secondary
        span.flair.flair--get GET
        |  Get Exact District of any Province
      .panel.panel--gray #{protocol}#{host}/api/v1/provinces/:id or :name/districts/:name
      p.padding-tertiary You can use this route to obtain the data of a district of your choice in a province of your choice.
      p Example URL 1: 
        a(target='_blank', href='/api/v1/provinces/34/districts/adalar') #{protocol}#{host}/api/v1/provinces/34/districts/adalar
      p Example URL 2: 
        a(target='_blank', href='/api/v1/provinces/istanbul/districts/adalar') #{protocol}#{host}/api/v1/provinces/istanbul/districts/adalar