extends layouts/main.pug

block styles
  style.
    header.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    }
    .hero__img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    filter: brightness(30%);
    object-fit: cover;
    }
    .hero__text-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 5%;
    text-align: center;
    }
    .hero__title {
    color: #eeeeee;
    }
    .hero__description {
    color: #cccccc;
    }
    .hero__quick-start {
    color: #ffffff;
    }
    .hero__quick-start:hover {
    transition: all 0.3s;
    transform: translateY(3px);
    }
    .hero__quick-start:active {
    transition: all 0.3s;
    transform: translateY(1px);
    }
    article.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 5%;
    text-align: center;
    }
    p.content__text {
    color: #333333;
    }
    a.content__link {
    color: turquoise;
    }
    .playground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 5%;
    text-align: center;
    width: 90vw;
    }
    .playground__url {
    color: #333333;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 87.5%;
    }
    .playground__url--host {
    background-color: #cccccc;
    border-radius: 5px 0 0 5px;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1% .5%;
    }
    .playground__url--input {
    background-color: #eeeeee;
    padding: 0.4rem;
    border: none;
    flex-grow: 1;
    font-size: 1rem;
    }
    .playground__url--copy {
    background-color: #cccccc;
    padding: 0.4rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .playground__url--copy:hover {
    transition: all 0.3s;
    transform: translateY(3px);
    }
    .playground__url--copy:active {
    transition: all 0.3s;
    transform: translateY(1px);
    }
    .playground__url--submit {
    border-radius: 0 5px 5px 0;
    background-color: turquoise;
    padding: 0.4rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .playground__url--submit:hover {
    transition: all 0.3s;
    transform: translateY(3px);
    }
    .playground__url--submit:active {
    transition: all 0.3s;
    transform: translateY(1px);
    }
    .playground__newtab,
    .playground__hint,
    .footer__text {
    color: #333333;
    }
    .playground__newtab--link,
    .playground__hint--link,
    .footer__link {
    color: turquoise;
    }
    .content__link:hover,
    .content__link:active,
    .playground__newtab--link:hover,
    .playground__hint--link:hover,
    .playground__newtab--link:active,
    .playground__hint--link:active,
    .footer__link:hover,
    .footer__link:active {
    border-bottom: 1px solid turquoise;
    }
    .playground__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    }
    .playground__panel--title {
    color: #333333;
    }
    .playground__panel--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    }
    .playground__panel--content code {
    padding: 0.4rem;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: start;
    max-height: 60vh;
    overflow-y: auto;
    }
    footer.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 5%;
    text-align: center;
    }
    p.playground__url--host#sm {
    display: none;
    }
    p.playground__url--host#lg {
    display: flex;
    }
    @media only screen and (max-width: 768px) {
    .hero__text-box {
    gap: 5vh;
    }
    .hero__title {
    font-size: 2rem;
    }
    .hero__description,
    .hero__quick-start,
    .content__text {
    font-size: 1rem;
    }
    .playground__url {
    width: 100%;
    }
    .playground__url--input {
    font-size: 0.8rem;
    }
    .playground__url,
    .playground__url--host,
    .playground__url--input,
    .playground__url--copy,
    .playground__url--submit {
    font-size: 0.6rem;
    }
    .playground__hint,
    .playground__panel--title,
    .playground__panel--content,
    .footer__text {
    font-size: 0.8rem;
    }
    p.playground__url--host#sm {
    display: flex;
    }
    p.playground__url--host#lg {
    display: none;
    }
    }
    .new-docs-card {
      background-color: #1b1b1f;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      padding: 20px;
      max-width: 600px;
      width: 100%;
      margin: 1rem 0;
    }
    .new-docs-card__textbox {
      flex: 1;
      color: #dfdfd6;
    }
    .new-docs-card__title {
      font-size: 24px;
      margin-bottom: 10px;
      color: #dfdfd6;
      font-weight: 700;
    }
    .new-docs-card__description {
      font-size: 16px;
      margin-bottom: 20px;
      color: #98989f;
      font-weight: 500;
    }
    .new-docs-card__button {
      display: inline-block;
      background-color: #3bd6c6;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 1000px;
      font-weight: 600;
      transition: background-color 0.3s ease;
    }
    .new-docs-card__button:hover {
      background-color: #2bc4b8;
    }
    .new-docs-card__logo-container {
      display: flex;
      align-items: center;
    }
    .new-docs-card__logo {
      width: 100px;
      height: auto;
      margin-left: 20px;
    }
    @media only screen and (max-width: 768px) {
      .new-docs-card {
        flex-direction: column;
        text-align: center;
      }
      .new-docs-card__logo {
        margin: 20px auto 0;
      }
      .new-docs-card__title {
        font-size: 1.5rem;
      }
      .new-docs-card__description {
        font-size: 0.9rem;
      }
    }
  title Turkiye API

block content
  header.hero
    img.hero__img(src="assets/"+image alt='An image from Turkey/Turkiye')
    .hero__text-box
      h1.hero__title Turkiye API
      h2.hero__description
        | REST API for provinces and districts of Turkiye
      a.hero__quick-start(href='#content' style='padding: 2.5%')
        | &darr; QUICK START
  article#content.content
    .new-docs-card
      .new-docs-card__textbox
        if language && language.startsWith('tr')
          h2.new-docs-card__title Yeni dokümantasyonu denemek ister misiniz?
          p.new-docs-card__description
            | Türkçe desteği olan, daha detaylı ve açıklayıcı anlatımlara sahip yeni
            | dokümantasyon sayfamızı ziyaret edebilirsiniz. Yeni dokümantasyon
            | sayfası, API'nin nasıl kullanılacağına dair kapsamlı bilgiler
            | sunmaktadır.
          a.new-docs-card__button(href='https://docs.turkiyeapi.dev/' target='_blank')
            | Yeni Dokümantasyonu İncele
        else
          h2.new-docs-card__title Want to try the new documentation?
          p.new-docs-card__description
            | Visit our new documentation page, more detailed
            | and explanatory descriptions. The new documentation page provides
            | comprehensive information on how to use the API.
          a.new-docs-card__button(href='https://docs.turkiyeapi.dev/en' target='_blank')
            | Explore New Documentation
      .new-docs-card__logo-container
        img.new-docs-card__logo(src='https://docs.turkiyeapi.dev/logo.png' alt='TurkiyeAPI Logo')
    p.content__text
      if language && language.startsWith('tr')
        | veya eski dokümantasyonu görmek için
        a.content__link(href='/docs')  buraya tıklayabilirsiniz
        | .
      else
        | or, you can
        a.content__link(href='/docs')  click here
        |  to view the old documentation.
    .playground
      .playground__url
        p.playground__url--host#sm /v1/
        p.playground__url--host#lg /v1/
        input#playground-input.playground__url--input(type='text' name='playground-input' value='provinces?name=istanbul')
        a.playground__url--copy(href='#action')
          svg.bi.bi-clipboard(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            path(d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z')
            path(d='M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z')
        a.playground__url--submit(href='#action') Send Request
      p.playground__newtab
        a.playground__newtab--link(href='#action') You can click here
        |  to
        |           view response in a new tab.
      p.playground__hint
        | Need a hint? Try&#32;
        a.playground__hint--link(href='#action') provinces
        | ,&#32;
        a.playground__hint--link(href='#action') provinces?name=istanbul
        | ,&#32;
        a.playground__hint--link(href='#action') provinces?isMetropolitan=true
        | ,&#32;
        a.playground__hint--link(href='#action') provinces/28
        | ,&#32;
        a.playground__hint--link(href='#action') districts
        | ,&#32;
        a.playground__hint--link(href='#action') districts?name=dağ
        | ,&#32;
        a.playground__hint--link(href='#action') districts?minPopulation=100000&amp;maxPopulation=300000
        | ,&#32;
        a.playground__hint--link(href='#action') districts/1832
        | ,&#32;
        a.playground__hint--link(href='#action') provinces?offset=10&amp;limit=20
        | ,&#32;
        a.playground__hint--link(href='#action') provinces?fields=name,areaCode

      .playground__panel
        p.playground__panel--title Response
        pre.playground__panel--content
          code.language-json

  footer.footer
    p.footer__text
      | Created by&#32;
      a.footer__link(target='_blank' href='https://ubeyde.me') Ubeyde Emir Özdemir
      |  /&#32;
      
      a.footer__link(target='_blank' href='https://github.com/ubeydeozdmr/turkiye-api') GitHub
      |  /&#32;
      a.footer__link(target='_blank' href='https://github.com/ubeydeozdmr/turkiye-api/blob/main/LICENSE') License

block scripts
  script.
    hljs.highlightAll();

    const origin = window.location.origin;

    document.querySelector('p.playground__url--host#lg').innerHTML = origin + '/v1/';

    async function init() {
      try {
        const res = await fetch('/v1/provinces?name=istanbul');
        const data = await res.json();
        document.querySelector('.playground__panel--content code').innerHTML =
          JSON.stringify(data, null, 2);
        hljs.highlightAll();
      } catch (error) {
        console.error(error);
      }
    }

    document
      .querySelector('a[href="#content"]')
      .addEventListener('click', event => {
        event.preventDefault();
        document.querySelector('#content').scrollIntoView({
          behavior: 'smooth',
        });
      });

    document
      .querySelector('.playground__url--input')
      .addEventListener('keyup', event => {
        if (event.keyCode === 13) document.querySelector('.playground__url--submit').click();
      });

    document
      .querySelector('.playground__url--copy')
      .addEventListener('click', event => {
        event.preventDefault();
        const input = document.querySelector('.playground__url--input');
        const text = input.value;
        input.value = `${origin}/v1/${input.value}`;
        input.select();
        input.setSelectionRange(0, 99999);
        document.execCommand('copy');
        input.value = text;
      });

    document
      .querySelector('.playground__url--submit')
      .addEventListener('click', event => {
        event.preventDefault();
        document.querySelector('.playground__panel--content code').innerHTML = 'Loading...';
        const input = document.querySelector('.playground__url--input').value;
        const url = `/v1/${input}`;
        fetch(url)
          .then(res => res.json())
          .then(data => {
            document.querySelector('.playground__panel--content code').innerHTML =
              JSON.stringify(data, null, 2);
            hljs.highlightAll();
          })
      });

    document
      .querySelector('.playground__newtab--link')
      .addEventListener('click', event => {
        event.preventDefault();
        const input = document.querySelector('.playground__url--input').value;
        const url =  `${origin}/v1/${input}`;
        window.open(url, '_blank');
      });

    document.querySelectorAll('.playground__hint--link').forEach(link => {
      link.addEventListener('click', event => {
        event.preventDefault();
        document.querySelector('.playground__url--input').value = link.innerHTML;
        document.querySelector('.playground__url--submit').click();
      });
    });

    init();